<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974586442677-5b0s1u4hjak8ejb6g2m6nju5v5l5k45k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974586442677-5b0s1u4hjak8ejb6g2m6nju5v5l5k45k</string>
	<key>API_KEY</key>
	<string>AIzaSyAHfTKefLNS_ge6R9gkdUFOnAI1ZF3dnlM</string>
	<key>GCM_SENDER_ID</key>
	<string>974586442677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingZone</string>
	<key>PROJECT_ID</key>
	<string>chatting-zone-78576</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-zone-78576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974586442677:ios:ebbb519d3dadd7c4e41ffc</string>
</dict>
</plist>